<div>
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
</div>
<div>
  <h2>A bit more about this flat...</h2>
  <p><%= @flat.description %></p>
</div>
<div>
  <h2>Details</h2>
  <h3><%= @flat.number_of_guests%></h3>
  <h4><%= @flat.price_per_night%></h4>
</div>
